<section class="countdown">
  <div class="countdown__text-block">
    <span *ngIf="!form.get('eventTitle')?.value; else countDownBlock"
      >Let's count down! Please, fill in the title below</span
    >

    <ng-template #countDownBlock>
      <span class="countdown__title" fitTextInParentHorizontal
        >Time to {{ form.get('eventTitle')?.value }}</span
      >

      <span *ngIf="duration$ | async as duration" fitTextInParentHorizontal class="countdown__duration">
        {{ duration | formatDuration }}
      </span>
    </ng-template>
  </div>

  <form [formGroup]="form" class="countdown__form">
    <mat-form-field appearance="outline" class="countdown__input">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="eventTitle"
        [maxlength]="maxEventTitleLength"
        [placeholder]="maxEventTitleLength + ' characters max'"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="countdown__input">
      <mat-label>Date</mat-label>
      <input
        readonly
        matInput
        [matDatepicker]="picker"
        [min]="minDatepickerDate"
        formControlName="endDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('endDate')?.hasError('matDatepickerMin')">
        You can not count down in the past
      </mat-error>
    </mat-form-field>
  </form>
</section>
